<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Report</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/main.css}" rel="stylesheet">
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=973829b4-a3c6-4e90-9108-34f5e90828d2"
        type="text/javascript"></script>
<script th:src="@{/js/search.js}"></script>

<body style="background-color: #4f5050">
<div class="container-lg">
    <br>
    <form th:action="@{'/reportsave'}" method="post">
        <div class="row">
            <div class="form-floating mb-3 text-black-50 col">
                <input type="number" class="form-control fs-4" id="id" name="id" th:value="${report.id}" readonly>
                <label for="id">Id</label>
            </div>
            <div class="form-floating mb-3 text-black-50 col">
                <select class="form-select" th:field="*{user.login}" aria-label="Выбор курьера">
                    <option value=""> --</option>
                    <option th:each="runner : ${users}" th:text="${runner.login}" th:value="${runner.login}"></option>
                </select>
            </div>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="executed" name="executed"
                   th:checked="${report.executed}">
            <label class="form-check-label text-white" for="executed">
                Статус заказа
            </label>
            <label class="col-6"></label>
            <label class="form-check-label text-white mb-1" for="routing">
                № по маршруту
            </label>
            <input type="number" class="col-2" id="routing" name="routing" th:value="${address.routing}">
        </div>
        <div class="form-floating mb-3 text-black-50">
            <input type="number" class="form-control fs-4" id="floatingInput" name="prise" th:value="${report.prise}">
            <label for="floatingInput">Цена</label>
        </div>
        <div class="form-floating mb-3 text-black-50">
            <input type="text" class="form-control fs-4" id="address" placeholder="Адрес"
                   th:field="*{address.fullAddress}">
            <label for="address">Адрес</label>
        </div>
        <div class="form-floating mb-3 text-black-50">
            <input type="text" class="form-control fs-4" id="phoneNumber" placeholder="Номер телефона"
                   th:field="*{report.phoneNumber}">
            <label for="phoneNumber">Телефон</label>
        </div>
        <div class="form-floating mb-3 text-black-50">
            <textarea class="form-control fs-4" id="order" th:field="*{report.order}" style="height: 150px"></textarea>
            <label for="order">Заказ</label>
        </div>
        <div class="form-floating mb-3 text-black-50">
            <input type="date" class="form-control fs-4" id="deliveryDate" name="deliveryDate"
                   placeholder="Дата доствки"
                   th:field="*{report.deliveryDate}">
            <label for="deliveryDate">Дата доставки</label>
        </div>
        <br>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-lg btn-primary">Сохранить</button>
        </div>
    </form>
</div>
</body>

</html>
