<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>All report</title>
</head>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<body style="background-color: #4f5050">
<br>
<div class="container-md">
    <br/>
    <div class="row right">
        <div class="col-8">
            <a th:href="@{'/report'}">
                <button type="button" class="btn btn-lg btn-primary">Создать</button>
            </a>
        </div>
        <div class="col-4">
            <a th:href="@{'/report/delete-all'}">
                <button type="button" class="btn btn-lg btn-warning">Удалить все</button>
            </a>
        </div>

    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                <tr class="text-white">
                    <th> №</th>
                    <th> Заказ</th>
                    <th> Цена</th>
                    <th> Номер телефона</th>
                    <th> Действие</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${reports.empty}">
                    <td colspan="2"> Нет заказов</td>
                </tr>
                <tr th:each="report, iter : ${reports}">
                    <td><span class="text-white" th:text="${iter.count}"></span></td>
                    <td class="p-3 mb-2 bg-success text-white" th:if="${report.address.pos != null}">
                        <span th:text="*{report.order}"></span>
                    </td>
                    <td class="p-3 mb-2 bg-danger text-white" th:if="${report.address.pos == null}">
                        <span th:text="*{report.order}"></span>
                    </td>
                    <td><span class="text-white" th:text="*{report.prise}"></span></td>
                    <td>
                        <a class="btn btn-info" th:href="'tel:'+${report.getPhoneNumber()}">
                            <p th:text="${report.getPhoneNumber()}"></p>
                        </a>
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-outline-info" th:href="@{'/report/' + ${report.getId()}}">edit</a>
                            <a class="btn btn-outline-danger"
                               th:href="@{'/report/delete/' + ${report.getId()}}">Del</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-7">
            <a class="btn btn-outline-success" th:href="${link}" target="_blank">Карта</a>
        </div>
        <div class="col-4">
            <input class="text " th:value="${sum}">
        </div>
        <br/>
    </div>
    <br/>
</div>

</body>
</html>