<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>All report</title>
</head>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<body style="background-color: #4f5050">
<div class="container-lg">
    <br/>
    <div class="row right">
        <div class="col-3">
            <a th:href="@{'/report'}">
                <button type="button" class="btn btn-lg btn-primary">Создать</button>
            </a>
        </div>
        <div class="col-2 align-middle">
            <span class="text-white fs-2" th:text="${sum}"></span>
        </div>
        <div class="col-3">
            <a th:href="@{'/report/delete-all'}">
                <button type="button" class="btn btn-lg btn-warning">Удалить все</button>
            </a>
        </div>
        <div class="col-4 position-relative">
            <form th:action="@{/logout}" method="post">
                <input type="submit" class="btn btn-lg btn-info position-absolute top-50 end-0 translate-middle-y" value="выход"/>
            </form>
        </div>

    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                <tr class="text-white">
                    <th> №</th>
                    <th> Заказ</th>
                    <th> Цена</th>
                    <th> Номер телефона</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${reports.empty}">
                    <td colspan="2"> Нет заказов</td>
                </tr>
                <tr th:each="report, iter : ${reports}">
                    <td class="align-middle bg-primary" th:if="${report.executed}">
                        <a class="btn text-white" th:href="@{'/update/'  + ${report.getId()}}">
                            <p class="text-white" th:text="${iter.count}"></p>
                        </a>
                    </td>
                    <td class="align-middle" th:if="${!report.executed}">
                        <a class="btn text-white" th:href="@{'/update/'  + ${report.getId()}}">
                            <p class="text-white" th:text="${iter.count}"></p>
                        </a>
                    </td>
                    <td class="p-3 mb-2 bg-success" th:if="${report.address.pos != null}">
                        <a class="btn text-white fs-3" th:href="@{'/report/' + ${report.getId()}}">
                            <p th:text="${report.order}" style="margin-bottom: 0rem"></p>
                        </a>
                    </td>
                    <td class="p-3 mb-2 bg-danger" th:if="${report.address.pos == null}">
                        <a class="btn text-white fs-3" th:href="@{'/report/' + ${report.getId()}}">
                            <p th:text="${report.order}" style="margin-bottom: 0rem"></p>
                        </a>
                    </td>
                    <td class="align-middle fs-4"><span class="text-white" th:text="*{report.prise}"></span></td>
                    <td class="align-middle">
                        <a class="btn btn-info" th:href="'tel:'+${report.getPhoneNumber()}">
                            <p th:text="${report.getPhoneNumber()}"></p>
                        </a>
                    </td>
                    <td class="align-middle">
                        <a class="btn btn-danger text-white"
                           th:href="@{'/report/delete/' + ${report.getId()}}">Del</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <a class="btn btn-primary col-5" th:href="@{'map/1'}" target="_blank">Тимур</a>
            <span class="col-2"></span>
            <a class="btn btn-primary col-5" th:href="@{'map/2'}" target="_blank">Влад</a>
        </div>
    </div>
    <br/>
</div>

</body>
</html>
